In [4]:
import pandas as pd
import numpy as np

# Filter all warnings. 
import warnings
warnings.filterwarnings('ignore')

# Then I will upload the excel dataset and clean it a bit to get rid of the useless columns and rows
Energy=pd.read_excel('assets/Energy Indicators.xls', header=16)
Energy=Energy[:228].drop([0]).drop([Energy.columns[0] , Energy.columns[1]] ,  axis='columns')

#Next, I'll change some of the labes for readability, and change some of the missing data to NaN values, as well as editing the Country names
Energy.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production': '% Renewable'}, inplace=True)
Energy['Energy Supply']=Energy['Energy Supply']*1000000

Energy

,Country,Energy Supply,Energy Supply per capita,% Renewable
1,Afghanistan,321000000,10,78.6693
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,.................................................,...,0.641026
5,Andorra,9000000,121,88.6957
...,...,...,...,...
223,Viet Nam,2554000000,28,45.3215
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.7147
227,Zimbabwe,480000000,32,52.5361